<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <% if @article.photo.exists? %>
    <%= image_tag @article.photo.url(:medium) %>
  <% end %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %>